@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-chevron-left:before {
  content: "\f053"; }

.fa-chevron-right:before {
  content: "\f054"; }

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "\f158"; }

.fa-vk:before {
  content: "\f189"; }

.fa-sort-alpha-asc:before {
  content: "\f15d"; }

.fa-sort-alpha-desc:before {
  content: "\f15e"; }

.fa-sort-amount-asc:before {
  content: "\f160"; }

.fa-sort-amount-desc:before {
  content: "\f161"; }

.fa-sort-numeric-asc:before {
  content: "\f162"; }

.fa-sort-numeric-desc:before {
  content: "\f163"; }

.fa-caret-down:before {
  content: "\f0d7"; }

.fa-caret-up:before {
  content: "\f0d8"; }

.fa-caret-left:before {
  content: "\f0d9"; }

.fa-caret-right:before {
  content: "\f0da"; }

.fa-columns:before {
  content: "\f0db"; }

.fa-unsorted:before, .fa-sort:before {
  content: "\f0dc"; }

.fa-sort-down:before, .fa-sort-desc:before {
  content: "\f0dd"; }

.fa-shopping-cart:before {
  content: "\f07a"; }

.fa-cart-plus:before {
  content: "\f217"; }

.fa-bars:before {
  content: "\f0c9"; }

.fa-asterisk:before {
  content: "\f069"; }

.fa-times:before {
  content: "\f00d"; }

.fa-server:before {
  content: "\f233"; }

.fa-diamond:before {
  content: "\f219"; }

.fa-upload:before {
  content: "\f093"; }

.fa-building:before {
  content: "\f1ad"; }

.fa-cloud:before {
  content: "\f0c2"; }

.fa-money:before {
  content: "\f0d6"; }

.fa-tasks:before {
  content: "\f0ae"; }

.fa-filter:before {
  content: "\f0b0"; }

.fa-opencart:before {
  content: "\f23d"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a"; }

.fa-github:before {
  content: "\f09b"; }

.fa-vk:before {
  content: "\f189"; }

.fa-moon-o:before {
  content: "\f186"; }

.fa-apple:before {
  content: "\f179"; }

.fa-linux:before {
  content: "\f17c"; }

.fa-connectdevelop:before {
  content: "\f20e"; }

.fa-power-off:before {
  content: "\f011"; }

.fa-laptop:before {
  content: "\f109"; }

.fa-database:before {
  content: "\f1c0"; }

.fa-file-powerpoint-o:before {
  content: "\f1c4"; }

.fa-file-pdf-o:before {
  content: "\f1c1"; }

.fa-info-circle:before {
  content: "\f05a"; }

.fa-eye:before {
  content: "\f06e"; }

.fa-plane:before {
  content: "\f072"; }

.fa-lock:before {
  content: "\f023"; }

@keyframes fadeUp {
  0% {
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeDown {
  0% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes scale {
  0% {
    transform: scale(2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes grow {
  0% {
    width: 0; }
  100% {
    opacity: 1;
    width: 100%; } }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    opacity: 1;
    transform: rotate(-360deg); } }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateX(0); } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, p, span, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #555; }

img {
  width: 100%; }

body {
  font-family: 'Arial', sans-serif;
  color: #555;
  line-height: 1.6; }

.vertCenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.hidden {
  visibility: hidden;
  height: 0; }

.navbar {
  color: #fff;
  height: 70px; }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 40px; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%; }

.grid-3 {
  grid-template-columns: repeat(3, 1fr); }

.card {
  background-color: #fff;
  color: #555;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px; }

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #047aed; }

.btn-bd {
  background-color: transparent;
  border: 1px solid  #fff; }

.btn-bd-dark {
  background-color: transparent;
  border: 1px solid  #555;
  color: #555;
  text-transform: capitalize;
  margin-top: 25px; }

.text-center {
  text-align: center; }

.lg {
  font-size: 38px;
  text-transform: capitalize; }

.md {
  font-size: 2rem; }

header {
  background-image: url(../img/bg.jpg);
  background-size: cover; }

.header {
  position: relative;
  color: #fff;
  position: relative;
  height: 700px;
  max-height: 700px;
  width: 100%; }
  .header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1; }
  .header .navbar {
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #8dc6fd; }
    .header .navbar .flex {
      justify-content: space-between;
      height: 100%; }
      .header .navbar .flex img {
        width: 20px;
        position: absolute; }
      .header .navbar .flex .logo {
        margin-left: 28px;
        font-size: 16px;
        text-transform: capitalize; }
      .header .navbar .flex ul {
        display: flex; }
      .header .navbar .flex a {
        color: #fff;
        margin: 0 5px;
        padding: 10px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px; }
        .header .navbar .flex a:hover {
          border-bottom: 1px solid #fff; }
        .header .navbar .flex a.active {
          color: #5badfc; }
  .header-offer {
    position: relative;
    margin: auto;
    text-align: center;
    top: 30%;
    max-width: 600px;
    animation: slideInFromLeft 1s ease-in;
    text-transform: capitalize;
    z-index: 2; }
    .header-offer h1 {
      font-size: 35px; }
    .header-offer p {
      color: #2993fb;
      background: rgba(0, 0, 0, 0.5);
      letter-spacing: 3px;
      font-size: 14px; }
    .header-offer .btn-offer {
      background: rgba(0, 0, 0, 0.6);
      margin-top: 35px;
      text-transform: capitalize; }
    .header-offer::before {
      content: '\f054';
      position: absolute;
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      font-size: 19px;
      color: #2993fb; }
    .header-offer::after {
      content: '\f053';
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      font-size: 19px;
      color: #2993fb; }

@media (max-width: 500px) {
  .navbar {
    height: 110px; }
    .navbar .flex {
      flex-direction: column; }
    .navbar ul {
      padding: 10px;
      background: rgba(0, 0, 0, 0.1); } }

@media (max-width: 768px) {
  .header .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .header-offer {
    animation: slideInFromLeft 1s ease-in; }
  .header-form {
    justify-self: center;
    margin: auto;
    width: 380px;
    animation: slideInBottom 1s ease-in; } }

.items4 {
  padding: 100px 0;
  animation: slideInBottom 1s ease-in; }
  .items4 .grid {
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start; }
    .items4 .grid .item {
      font-size: 14px; }
      .items4 .grid .item .fa {
        font-size: 20px;
        color: #5badfc; }
      .items4 .grid .item .itemDescr {
        font-size: 18px;
        margin: 20px 0;
        text-transform: capitalize; }

@media (max-width: 768px) {
  .items4 {
    padding-top: 150px; }
    .items4 .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr; } }

.mixitap {
  width: 100%;
  padding: 0 50px 50px; }
  .mixitap .h2-title-section {
    margin-bottom: 70px;
    text-align: center;
    text-transform: capitalize; }
    .mixitap .h2-title-section h2 {
      text-transform: capitalize; }
  .mixitap .container {
    width: 100%;
    border: 1px solid red; }
  .mixitap .grid {
    width: 100%;
    padding: 0;
    margin-top: 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0; }
    .mixitap .grid .item-img {
      position: relative;
      color: #fff;
      z-index: 2;
      text-align: center;
      transition: all .5s;
      background-size: cover;
      background-position: center;
      height: 170px;
      padding: 0;
      margin: 0; }
      .mixitap .grid .item-img::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 7px;
        z-index: -1;
        display: none; }
      .mixitap .grid .item-img .item-img-wr {
        flex-direction: column;
        height: 100%;
        transition: all .5s;
        position: relative;
        top: 20px;
        opacity: 0; }
        .mixitap .grid .item-img .item-img-wr .fa {
          font-size: 25px;
          color: #5badfc; }
      .mixitap .grid .item-img:hover::after {
        display: block; }
      .mixitap .grid .item-img:hover .item-img-wr {
        opacity: 1;
        transform: translateY(-15px);
        z-index: 2; }
      .mixitap .grid .item-img .php {
        color: #024689; }
      .mixitap .grid .item-img .openCart {
        color: #000; }
    .mixitap .grid .item-img-1 {
      background-image: url(../img/1.jpg); }
    .mixitap .grid .item-img-2 {
      background-image: url(../img/2.jpg); }
    .mixitap .grid .item-img-3 {
      background-image: url(../img/3.jpg); }
    .mixitap .grid .item-img-4 {
      background-image: url(../img/4.jpg); }
    .mixitap .grid .item-img-5 {
      background-image: url(../img/5.jpg); }
    .mixitap .grid .item-img-6 {
      background-image: url(../img/6.jpg); }
    .mixitap .grid .item-img-7 {
      background-image: url(../img/7.jpg); }
    .mixitap .grid .item-img-8 {
      background-image: url(../img/8.jpg); }

@media (max-width: 768px) {
  .mixitap {
    width: 100%;
    padding: 0 50px 50px; }
    .mixitap .h2-title-section {
      margin-bottom: 70px;
      text-align: center;
      text-transform: capitalize; }
      .mixitap .h2-title-section h2 {
        text-transform: capitalize; }
    .mixitap .container {
      width: 100%;
      border: 1px solid red; }
    .mixitap .grid {
      width: 100%;
      padding: 0;
      margin-top: 45px;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0; }
      .mixitap .grid .item-img {
        position: relative;
        color: #fff;
        z-index: 2;
        text-align: center;
        transition: all .5s;
        background-size: cover;
        background-position: center;
        height: 170px;
        padding: 0;
        margin: 0; }
        .mixitap .grid .item-img::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 7px;
          z-index: -1;
          display: none; }
        .mixitap .grid .item-img .item-img-wr {
          flex-direction: column;
          height: 100%;
          transition: all .5s;
          position: relative;
          top: 20px;
          opacity: 0; }
          .mixitap .grid .item-img .item-img-wr .fa {
            font-size: 25px;
            color: #5badfc; }
        .mixitap .grid .item-img:hover::after {
          display: block; }
        .mixitap .grid .item-img:hover .item-img-wr {
          opacity: 1;
          transform: translateY(-15px);
          z-index: 2; }
        .mixitap .grid .item-img .php {
          color: #024689; }
        .mixitap .grid .item-img .openCart {
          color: #000; }
      .mixitap .grid .item-img-1 {
        background-image: url(../img/1.jpg); }
      .mixitap .grid .item-img-2 {
        background-image: url(../img/2.jpg); }
      .mixitap .grid .item-img-3 {
        background-image: url(../img/3.jpg); }
      .mixitap .grid .item-img-4 {
        background-image: url(../img/4.jpg); }
      .mixitap .grid .item-img-5 {
        background-image: url(../img/5.jpg); }
      .mixitap .grid .item-img-6 {
        background-image: url(../img/6.jpg); }
      .mixitap .grid .item-img-7 {
        background-image: url(../img/7.jpg); }
      .mixitap .grid .item-img-8 {
        background-image: url(../img/8.jpg); } }

.left-right {
  background: #f4f4f4;
  text-align: center;
  color: #fff;
  padding: 50px 0; }
  .left-right .grid {
    grid-template-columns: 3fr 4fr;
    width: 900px; }
    .left-right .grid .cloudImg {
      color: #fff; }
    .left-right .grid .text-center {
      text-align: left;
      color: #333; }
      .left-right .grid .text-center .lg {
        padding: 0 8px;
        font-size: 22px;
        text-transform: capitalize;
        border-left: 3px solid #5badfc; }
      .left-right .grid .text-center .lead {
        margin-top: 25px;
        font-size: 14px;
        text-align: left; }
      .left-right .grid .text-center .bulets {
        margin-top: 25px; }
        .left-right .grid .text-center .bulets .bulet {
          margin-top: 4px;
          font-size: 14px;
          padding: 0 20px;
          position: relative;
          text-transform: capitalize; }
          .left-right .grid .text-center .bulets .bulet::before {
            content: '\f054';
            position: absolute;
            font-family: 'FontAwesome';
            font-size: 15px;
            color: #5badfc;
            left: 0; }
      .left-right .grid .text-center .btn-bd {
        background: #047aed;
        padding: 6px 45px;
        margin-top: 25px;
        text-transform: capitalize; }

@media (max-width: 768px) {
  .left-right .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%; } }

.items4-bg {
  position: relative;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 0 80px;
  animation: slideInBottom 1s ease-in;
  color: #fff;
  z-index: 2; }
  .items4-bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1; }
  .items4-bg .h2-title-section {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    text-transform: capitalize;
    position: relative;
    z-index: 2; }
    .items4-bg .h2-title-section p {
      letter-spacing: 2px; }
  .items4-bg .grid {
    grid-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    z-index: 2; }
    .items4-bg .grid .item {
      padding: 30px 0;
      font-size: 14px;
      text-transform: capitalize;
      position: relative; }
      .items4-bg .grid .item::after {
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background: #5badfc;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        z-index: 1; }
      .items4-bg .grid .item .fa {
        position: relative;
        font-size: 20px;
        color: #fff;
        z-index: 2; }
      .items4-bg .grid .item .itemDescr {
        font-size: 18px;
        margin: 50px 0 5px;
        text-transform: capitalize; }

@media (max-width: 768px) {
  .items4-bg {
    padding-top: 150px; }
    .items4-bg .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr; } }

.items3 {
  padding: 50px 0;
  animation: slideInBottom 1s ease-in;
  width: 100%; }
  .items3 .grid {
    grid-gap: 3rem;
    align-items: flex-start; }
    .items3 .grid .item {
      text-align: left; }
      .items3 .grid .item h3 {
        text-align: left;
        padding: 0 10px;
        text-transform: capitalize;
        font-size: 21px;
        border-left: 3px solid #8dc6fd;
        margin-bottom: 25px; }
      .items3 .grid .item p {
        text-align: left; }
      .items3 .grid .item .btn {
        text-transform: capitalize;
        padding: 6px 30px;
        margin-top: 25px;
        border-radius: 2px;
        background: #8dc6fd; }
      .items3 .grid .item .bulets {
        margin-top: 25px; }
        .items3 .grid .item .bulets .bulet {
          margin-top: 4px;
          font-size: 14px;
          padding: 0 0 0 37px;
          position: relative;
          text-transform: capitalize; }
          .items3 .grid .item .bulets .bulet::before {
            content: '\f081';
            position: absolute;
            font-family: 'FontAwesome';
            font-size: 32px;
            color: #8dc6fd;
            left: 0; }
      .items3 .grid .item .skills {
        position: relative;
        margin-bottom: 30px; }
        .items3 .grid .item .skills h4 {
          font-size: 16px;
          text-transform: capitalize; }
        .items3 .grid .item .skills::before {
          content: '';
          position: absolute;
          width: 100%;
          left: 0;
          top: 30px;
          height: 5px;
          background: #f4f4f4; }
        .items3 .grid .item .skills::after {
          content: '';
          position: absolute;
          width: 70%;
          left: 0;
          top: 30px;
          height: 5px;
          background: #8dc6fd; }
      .items3 .grid .item .skills-2::after {
        width: 80%; }
      .items3 .grid .item .skills-3::after {
        width: 55%; }

@media (max-width: 768px) {
  .items3 {
    padding-top: 150px; }
    .items3 .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr; } }

.reviews-slider {
  background: #f4f4f4;
  padding: 50px 0; }
  .reviews-slider .h2-title-section {
    max-width: 600px;
    text-align: center;
    margin: auto;
    text-transform: capitalize; }
    .reviews-slider .h2-title-section p {
      letter-spacing: 2px;
      font-size: 15px; }
  .reviews-slider .reviews-slider {
    position: relative;
    text-align: center;
    max-width: 900px;
    margin: auto; }
    .reviews-slider .reviews-slider .img-container {
      margin: auto;
      width: 120px;
      height: 120px;
      margin-bottom: 50px; }
      .reviews-slider .reviews-slider .img-container img {
        height: 100%;
        object-fit: cover;
        border-radius: 50%; }
    .reviews-slider .reviews-slider .autor {
      margin-top: 25px;
      text-transform: capitalize; }
    .reviews-slider .reviews-slider .button-container .prev-btn {
      left: -60px; }
    .reviews-slider .reviews-slider .button-container .next-btn {
      right: -60px; }
    .reviews-slider .reviews-slider .button-container .btn-slider {
      position: absolute;
      content: '';
      top: 50%;
      font-size: 35px;
      transform: translateY(-50%);
      color: #8dc6fd;
      border: 0;
      background-color: transparent;
      opacity: .5; }
    .reviews-slider .reviews-slider .button-container .indicators-btn {
      position: absolute;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px; }
      .reviews-slider .reviews-slider .button-container .indicators-btn .indic {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        border: 1px solid #8dc6fd;
        margin: 0 10px;
        cursor: pointer; }
        .reviews-slider .reviews-slider .button-container .indicators-btn .indic.active {
          background: #8dc6fd; }

@media (max-width: 768px) {
  .reviews-slider {
    background: #f4f4f4;
    padding: 50px 0; }
    .reviews-slider .h2-title-section {
      max-width: 600px;
      text-align: center;
      margin: auto;
      text-transform: capitalize; }
      .reviews-slider .h2-title-section p {
        letter-spacing: 2px;
        font-size: 15px; }
    .reviews-slider .reviews-slider {
      position: relative;
      text-align: center;
      max-width: 400px;
      margin: auto; }
      .reviews-slider .reviews-slider .img-container {
        margin: auto;
        width: 120px;
        height: 120px;
        margin-bottom: 50px; }
        .reviews-slider .reviews-slider .img-container img {
          height: 100%;
          object-fit: cover;
          border-radius: 50%; }
      .reviews-slider .reviews-slider .autor {
        margin-top: 25px;
        text-transform: capitalize; }
      .reviews-slider .reviews-slider .button-container .prev-btn {
        display: none;
        left: -40px; }
      .reviews-slider .reviews-slider .button-container .next-btn {
        display: none;
        right: -40px; }
      .reviews-slider .reviews-slider .button-container .btn-slider {
        position: absolute;
        content: '';
        top: 50%;
        font-size: 35px;
        transform: translateY(-50%);
        color: #8dc6fd;
        border: 0;
        background-color: transparent;
        opacity: .5; }
      .reviews-slider .reviews-slider .button-container .indicators-btn {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px; }
        .reviews-slider .reviews-slider .button-container .indicators-btn .indic {
          width: 15px;
          height: 15px;
          border-radius: 50px;
          border: 1px solid #8dc6fd;
          margin: 0 10px;
          cursor: pointer; }
          .reviews-slider .reviews-slider .button-container .indicators-btn .indic.active {
            background: #8dc6fd; } }

.balls {
  padding: 80px 0;
  max-width: 900px;
  margin: auto; }
  .balls .balls-wrapp {
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start; }
    .balls .balls-wrapp::before {
      content: '\f054';
      position: absolute;
      right: -80px;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      font-size: 19px;
      color: #5badfc; }
    .balls .balls-wrapp::after {
      content: '\f053';
      position: absolute;
      left: -80px;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      font-size: 19px;
      color: #5badfc; }
    .balls .balls-wrapp img {
      width: 120px; }

@media (max-width: 768px) {
  .balls {
    padding: 80px 0;
    max-width: 900px;
    margin: auto; }
    .balls .balls-wrapp {
      position: relative;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 10px;
      align-items: flex-start; }
      .balls .balls-wrapp::before {
        content: '\f054';
        position: absolute;
        right: -80px;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'FontAwesome';
        font-size: 19px;
        color: #5badfc; }
      .balls .balls-wrapp::after {
        content: '\f053';
        position: absolute;
        left: -80px;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'FontAwesome';
        font-size: 19px;
        color: #5badfc; }
      .balls .balls-wrapp img {
        width: 120px; } }

.footer {
  padding: 50px 0;
  animation: slideInBottom 1s ease-in;
  width: 100%;
  background: #333;
  color: rgba(255, 255, 255, 0.4); }
  .footer .grid {
    grid-gap: 3rem;
    align-items: flex-start; }
    .footer .grid .item {
      text-align: left; }
      .footer .grid .item h3 {
        text-align: left;
        padding: 0 10px;
        text-transform: capitalize;
        font-size: 19px;
        border-left: 3px solid #2993fb;
        margin-bottom: 25px; }
      .footer .grid .item .text-sec {
        font-size: 13px; }
      .footer .grid .item .btn {
        text-transform: capitalize;
        padding: 4px 20px;
        margin-top: 25px;
        border-radius: 2px;
        background: #2993fb; }
      .footer .grid .item .bulets {
        margin-top: 25px; }
        .footer .grid .item .bulets .bulet {
          margin-top: 4px;
          font-size: 13px;
          padding: 0 0 0 37px;
          position: relative;
          text-transform: capitalize; }
          .footer .grid .item .bulets .bulet::before {
            position: absolute;
            font-family: 'FontAwesome';
            font-size: 14px;
            color: rgba(255, 255, 255, 0.4);
            left: 0;
            bottom: .5px; }
        .footer .grid .item .bulets .bulet1::before {
          content: '\f06e'; }
        .footer .grid .item .bulets .bulet2::before {
          content: '\f072'; }
        .footer .grid .item .bulets .bulet3::before {
          content: '\f023'; }
      .footer .grid .item .footer-imgBox {
        position: relative;
        width: 300px;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px; }
        .footer .grid .item .footer-imgBox img {
          height: 100%;
          object-fit: cover; }

@media (max-width: 768px) {
  .footer {
    padding: 50px 0;
    animation: slideInBottom 1s ease-in;
    width: 100%;
    background: #333;
    color: rgba(255, 255, 255, 0.4); }
    .footer .grid {
      grid-gap: 3rem;
      align-items: flex-start; }
      .footer .grid .item h3 {
        text-align: left;
        padding: 0 10px;
        text-transform: capitalize;
        font-size: 19px;
        border-left: 3px solid #2993fb;
        margin-bottom: 25px; }
      .footer .grid .item .text-sec {
        font-size: 13px; }
      .footer .grid .item .btn {
        text-transform: capitalize;
        padding: 4px 20px;
        margin-top: 25px;
        border-radius: 2px;
        background: #2993fb; }
      .footer .grid .item .bulets {
        margin-top: 25px; }
        .footer .grid .item .bulets .bulet {
          margin-top: 4px;
          font-size: 13px;
          padding: 0 0 0 37px;
          position: relative;
          text-transform: capitalize; }
          .footer .grid .item .bulets .bulet::before {
            position: absolute;
            font-family: 'FontAwesome';
            font-size: 14px;
            color: rgba(255, 255, 255, 0.4);
            left: 0;
            bottom: .5px; }
        .footer .grid .item .bulets .bulet1::before {
          content: '\f06e'; }
        .footer .grid .item .bulets .bulet2::before {
          content: '\f072'; }
        .footer .grid .item .bulets .bulet3::before {
          content: '\f023'; }
      .footer .grid .item .footer-imgBox {
        position: relative;
        width: 300px;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px; }
        .footer .grid .item .footer-imgBox img {
          height: 100%;
          object-fit: cover; } }

.testam {
  height: 500px; }

@media (max-width: 840px) {
  header {
    min-height: calc(400px - 60px); } }

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }
